<component name="ArtifactManager">
  <artifact type="war" name="spring-security-hibernate:war">
    <output-path>$PROJECT_DIR$/../test/spring-security-hibernate/target</output-path>
    <root id="archive" name="SpringSecurity.war">
      <element id="artifact" artifact-name="spring-security-hibernate:war exploded" />
    </root>
  </artifact>
</component>